.extension {
  background-color: darken(#343a40, 20%);
  //background-color: gray;
  transform: translate(0, 360px);
  z-index: 1;
  position: relative;
  border-bottom-left-radius: var(--main-radius);
  border-bottom-right-radius: var(--main-radius);
  color: white;
  font-size: 13px;
}

.row {
  width: 100%;
  margin: auto;
  padding: 0;
}

.title {
  color: white;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
}

svg {
  fill: white;
}

.resolution {
  width: fit-content;
  border-radius: 5px;
  border: 1px solid;
  text-align: center;
  padding: 0 0.3rem;
  font-size: 12px;
  // border-color: gold;
  // color: gold;
}

.timeAndRate > * {
  margin-left: 0;
  margin-right: auto;
  text-align: left;
}

.metadata {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

.more {
  margin-right: 0;
  margin-left: auto;
  text-align: right;
}

.resolutionAndEpisode * {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  justify-content: center;
}
