.rotate {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: spinForward 2000ms infinite linear;
}

svg {
  fill: var(--white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition-duration: var(--main-transition-duration);

  &:hover {
    cursor: pointer;
    //fill: var(--white-hover);
  }
}

svg.subtitles {
  width: 18px;
  height: auto;
}

.embed {
  width: min-content;
  padding-left: 0;

  svg {
    position: relative;
    top: unset;
    left: unset;
    transform: unset;
    height: auto;
    width: 31px;
  }
}
