@import 'library.scss';
@import 'partials/footer.scss';
@import 'partials/header.scss';
@import 'partials/mediaFrame.scss';
@import 'partials/mediaPlayer.scss';
@import 'partials/settingsModal.scss';

html {
    font-size: 24px;
    overflow-x: hidden;
    position: relative;
    min-height: 100%;
    // Will only work in Chrome but still, it makes stuff a little smoother when loading library for the first time
    overflow-y: overlay;
}

:root {
    --animation-duration: 150ms;
    --main-color: #007bff;
    --svg-white-filter: invert(96%) sepia(4%) saturate(14%) hue-rotate(98deg) brightness(105%) contrast(103%);
    --svg-regular-filter: invert(35%) sepia(46%) saturate(5750%) hue-rotate(200deg) brightness(102%) contrast(107%);
    --svg-hover-filter: invert(19%) sepia(32%) saturate(6935%) hue-rotate(200deg) brightness(98%) contrast(102%);
    --svg-disabled-filter: invert(42%) sepia(1%) saturate(0%) hue-rotate(163deg) brightness(90%) contrast(96%);
    --main-hover-color: #0056b3;
    --border-radius: 5px;
    --success: #198754;
    --danger: #dc3545;
    --background-color: #141414;
}

body {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);

    .modal-open,
    .modal {
        padding-right: 0 !important;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

main {
    display: flex;
    flex-grow: 1;
    padding-top: 6rem;
    flex-direction: column;

    // Fast transition when jQuery do its thing!
    &.fast-transition {
        .media, 
        .overlay {
            transition: unset;
        }
    }
}

.loading-logo {
    fill: black;
    height: 2rem;
    width: 2rem;
    animation: logoRorate 1s infinite linear;
    margin: 0.5rem;
    filter: var(--svg-white-filter);
}

@keyframes logoRorate {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}

.spinner-border {
    width: max-content;
    height: max-content;
    margin: auto;
}

.container-fluid {
    max-width: 95%;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

@keyframes absoluteRotate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

