.media {
    border-radius: var(--border-radius);
    width: 290px;
    height: 435px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    .title {
        font-weight: 600;
        font-size: 1.5rem;
        color: white;
        text-align: center;

        &.firm {
            top: 0.5rem;
            position: absolute;
            text-align: center;
            width: 100%;
        }
    }

    .duration {
        position: absolute;
        color: white;
        bottom: 0.5rem;
    }

    &[data-status="converting"] .icon {
        animation: absoluteRotate 2s linear infinite;
    }

    .overlay {
        border-radius: var(--border-radius);
        width: 100%;
        height: 100%;
        opacity: 0%;
        // transition: all var(--animation-duration);
        cursor: pointer;
        padding: 0.5rem;

        img:not(.resolution) {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        img.resolution {
            position: absolute;
            right: 1rem;
            bottom: 1rem;
            pointer-events: none;
        }
    }

    transition: transform 200ms;

    &:hover {
        .overlay {
            opacity: 100%;
            background-color: rgba(0, 0, 0, 0.6);
        }

        z-index:1;
        transform: scale(1.05);
    }
}

@keyframes rotate2 {
    to {
        transform: rotate(360deg);
    }
}
