
.media-player {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 48%;
    transform: translate(-50%, -50%);
    transition: all var(--animation-duration);
    min-width: 300px;
    //display: none;

    .cast-title {
        font-size: 1rem;
        text-align: center;
    }

    .cast-icons {
        display: flex;
        justify-content: space-evenly;
        width: 260px;
        margin: auto;
        transition: all var(--animation-duration);

        img {
            filter: var(--svg-white-filter);
            &:hover {
                cursor: pointer;
            }
        }
    }

    .cast-progression {
        display: flex;
        font-size: 13px;
        margin-bottom: 2px;

        .form-range {
            flex-grow: 1;
            margin: auto 0.5rem;
            height: 5px;
            padding-top: 1px;

            &::-webkit-slider-thumb {
                height: 10px;
                width: 10px;
                margin-top: -3px;
            }

            &::-webkit-slider-runnable-track {
                height: 5px;
            }
        }
    }
}
