
.media-player {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 48%;
    transform: translate(-50%, -50%);
    transition: all var(--animation-duration);
    min-width: 300px;
    display: none;

    .cast-title {
        font-size: 1rem;
        text-align: center;
    }

    .cast-icons {
        display: flex;
        justify-content: space-evenly;
        width: 260px;
        margin: auto;

        img {
            filter: var(--svg-white-filter);
        }
    }

    .cast-progression {
        display: flex;
        font-size: 13px;
        margin-bottom: 2px;

        .form-range {
            flex-grow: 1;
            margin: auto 0.5rem;
            height: 5px;
            padding-top: 1px;

            &::-webkit-slider-thumb {
                height: 10px;
                width: 10px;
                margin-top: -3px;
            }

            &::-webkit-slider-runnable-track {
                height: 5px;
            }
        }
    }

    img {
        transition: all var(--animation-duration);
    }
    /*    .inactive {
        pointer-events: none;
    }

    .inactive img {
        filter: invert(98%) sepia(2%) saturate(541%) hue-rotate(175deg) brightness(94%) contrast(92%);
    }*/
    /*    .active {
        pointer-events: initial;

        img {
            filter: invert(78%) sepia(10%) saturate(227%) hue-rotate(169deg) brightness(91%) contrast(91%);
            cursor: pointer;

            &:hover {
                filter: invert(46%) sepia(14%) saturate(284%) hue-rotate(167deg) brightness(94%) contrast(91%);
            }
        }
    }*/
    /*   svg {
        filter: invert(1);
    }*/
}
