@page
@model Cast.App.Pages.ConversionModel
@{
}

<div class="conversion">
    <img class="icon" src="@Url.Content("~/media/convert.svg")" height="30" width="30"/>
    <div class="details">DETAILS</div>
</div>