@page
@model Cast.App.Pages.ConversionModel
@{
    string popoverContent = @"
    <div class='conversion-state'>
        <div class='mediaTitle'>Title placeholder</div>
        <div class='progression'>
            <div class='progress'>
              <div class='progress-bar' role='progressbar' aria-valuemin='0' aria-valuemax='100'>0%</div>
            </div>
            <img class='stop-icon' src='media/stop.svg' width='20' height='20'/>
        </div>
    </div>";
}

<div class="conversion">
    @Html.AntiForgeryToken()
    <button type="button" class="popover-btn" data-bs-html="true" data-bs-container="body" data-bs-title="<span class='target'>Converting...</span><span class='queueLength'>0 item(s)</span>" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="@popoverContent">
        <img src="/media/convert.svg" class="toggler-icon" height="30" width="30" />
    </button>
</div>