@page
@model Cast.App.Pages.LibraryModel
@{
    ViewBag.Title = "HomeCast | Library";
    if (Model.HideLayout)
    {
        Layout = null;
    }
}

<h2>My library</h2>
@Html.HiddenFor(m => m.MediaMD5)
<div class="library" data-host="@Model.Uri">
    @foreach(var media in Model.Media.Where(m => m.Status != Provider.MediaStatus.Hidden))
    {
        <partial name="_MediaFrame" model="media" />
    }
</div>