@page
@model Cast.App.Pages.LibraryModel
@{
    ViewBag.Title = "HomeKast | Library";
    if (Model.HideLayout)
    {
        Layout = null;
    }
}

<input type="hidden" name="MD5" class="md5" value="@Model.MD5" />
<div class="library" data-host="@Model.Uri">
    @foreach(var media in Model.Library.Where(m => m.Status != Provider.MediaStatus.Hidden))
    {
        <partial name="_MediaFrame" model="media" />
    }
</div>