<footer class="footer text-muted">
    <div class="container-fluid">
        <hr />
		<div class='copyright'>© @DateTime.Now.ToString("yyyy") Copyright <a href="https://thekecha.com">Kévin Renier</a>. All rights reserved.</div>
    </div>
</footer>