@using Cast.App.TagHelpers

<header>
    <nav class="navbar navbar-expand-md navbar-toggleable-sm navbar-light box-shadow">
        <div class="container-fluid">
            <a class="navbar-brand" asp-action="Index">
                <smart-svg color="#007bff" src="~/media/logo.svg" class="logo" height="44" width="44"></smart-svg>
            </a>
            <div class="info-bar">
                <div class="header-title">HomeCast</div>
                <partial name="_MediaPlayer" />
            </div>
            <div class="conversion-placeholder">
                <partial name="Conversion" model="null"/>
            </div>
        </div>
    </nav>
</header>