
<header>
    <nav class="navbar navbar-expand-md navbar-toggleable-sm navbar-light box-shadow">
        <div class="container-fluid">
            <a class="navbar-brand" asp-action="Index">
                <partial name="Media/_Logo" model="@string.Empty" />
            </a>
            <div class="info-bar">
                <div class="header-title">HomeCast</div>
                <partial name="_MediaPlayer" />
            </div>
            <div class="conversion-placeholder" />
        </div>
    </nav>
</header>