<header>
    <nav class="navbar navbar-expand-md navbar-toggleable-sm navbar-light box-shadow">
        <div class="container-fluid">
            <a class="navbar-brand" asp-action="Index">
                <img src="/media/logo.svg" class="logo" height="44" width="44" />
            </a>
            <div class="header-title">HomeKast</div>
            <partial name="_MediaPlayer" />
            <div class="conversion-placeholder">
                <partial name="Conversion" model="null" />
            </div>
            <input class="form-control-sm search" type="text" placeholder="Search library..." disabled>
            <img class="modal-toggler-icon" src="~/media/settings.svg" height="30" width="30" />
        </div>
    </nav>
</header>