.logo {
  height: 44px;
  fill: var(--main-color);
  transition: all var(--main-transition-duration);
  &:hover {
    fill: var(--main-hover-color);
  }
}

.title {
  color: var(--main-color);
  font-size: 24px;
  font-weight: 500;
  margin: auto 3px;
}

.application {
  display: flex;
}

.header {
  margin: var(--main-margin-width) auto;
}

.options {
  height: 44px;
  align-content: flex-end;
  flex-wrap: wrap;
  flex-direction: column;
}
