.settings {
  svg {
    transform: scale(0.4667) translate(-100%, -50%);
    position: absolute;
    left: 50%;
    top: 13%;
    &:hover {
      cursor: pointer;
    }
  }

  align-items: center;
  width: 28px;
  height: 44px;
  position: relative;
  margin-left: 0.75rem;
}

.cm {
  font-size: 12px;
}
