small {
  text-align: center;
  color: var(--main-gray);
  padding: var(--main-padding-width);
}

footer {
  margin-top: auto;
  margin-bottom: 0;
  padding-top: var(--main-padding-width);
}

hr {
  width: 95%;
  margin: auto;
  color: var(--main-gray);
}
