.search {
  display: flex;
  height: 44px;
  width: max-content;
  position: relative;
}

svg {
  right: 3px;
  top: 50%;
  transform: scale(0.7) translate(0, -72%);
  circle,
  path {
    stroke: white;
  }
  position: absolute;
}
