@import '~bootstrap/scss/bootstrap';

html,
body,
#root {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: darken(#343a40, 20%);
  scrollbar-gutter: stable;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

small {
  font-size: 13px;
}

:root {
  --main-radius: 3px;
  --main-color: #007bff;
  --main-hover-color: #0056b3;
  --main-dark-color: #343a40;
  --main-transition-duration: 100ms;
  --main-padding-width: 1rem;
  --main-margin-width: 1rem;
  --main-gray: gray;
}

.container-fluid {
  max-width: 95vw;
}

// Bootstrap override for search control
.search input {
  border-radius: 15px;
  width: 120px;
  margin: auto;
  background-color: darken(#343a40, 12%);
  transition: width var(--main-transition-duration) ease;
  color: white;
  height: 35px;
  border-color: transparent;
  font-size: 1.05rem;
  padding-right: 45px;
  &:active,
  &:focus {
    color: white;
    width: 300px;
    background-color: darken(#343a40, 12%);
    border-color: transparent;
  }
  &::placeholder {
    color: lighten(#343a40, 10%);
  }
}

// Some SVG's are kind boring...
.search svg {
  circle,
  path {
    stroke: white;
  }
}
.settings svg {
  path {
    fill: white !important;
  }
}
