@import '~bootstrap/scss/bootstrap';
@import './Globals.scss';
@import './Override.scss';

html,
body,
#root {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--main-dark-color);
  scrollbar-gutter: stable;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

small {
  font-size: 13px;
}

.container-fluid {
  max-width: 95vw;
}

.expand .modal-content {
  background-color: black;
}

// Some SVG's are kind boring...
.search svg {
  circle,
  path {
    stroke: var(--white);
  }
}
.settings svg {
  path {
    fill: var(--white) !important;
  }
}

@keyframes spinBackward {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@keyframes spinForward {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
