:root {
  --main-radius: 3px;
  --main-color: #007bff;
  --main-hover-color: #0056b3;
  --main-dark-color: #060708;
  --main-dark-12-color: #191b1e;
  --main-overlay: rgba(0, 0, 0, 0.5);
  --main-base-dark-color: #343a40;
  --main-transition-duration: 100ms;
  --main-padding-width: 1rem;
  --main-margin-width: 1rem;
  --main-gray: gray;
  --main-gray-hover: #676767;
  --white: white;
  --white-hover: #cccccc;
}
