// Modal
// TODO: dbc whats still relevant in here...
.modal-open {
  overflow-y: auto !important;
  padding-right: 0 !important;
}
.modal-content {
  background-color: var(--main-dark-12-color);
  color: var(--white);
  border: unset;
}
.modal-footer {
  padding-top: 0;
  border-top: none;
}
.modal-header {
  border-bottom: none;
  padding-bottom: 0;
  .modal-title {
    font-weight: unset;
  }
}
.modal-body {
  padding-top: 0;
  padding-bottom: 0;
}

.popover {
  .popover-header,
  .popover-body {
    background-color: unset;
    color: unset;
    padding: unset;
  }
  .popover-header {
    font-size: 14px;
    text-align: left;
    border: unset;
  }
  .popover-arrow::after,
  .popover-header::before {
    border-bottom-color: var(--main-dark-12-color) !important;
  }
}

.btn-unstyle {
  background-color: unset !important;
  border: none;
  padding: 0;
  &:hover,
  &:active {
    background-color: unset !important;
    border: none;
  }
}

// Bootstrap override for search control
.search input {
  border-radius: 15px;
  width: 120px;
  margin: auto;
  // background-color: var(--main-dark-color);
  background-color: var(--main-dark-12-color);
  transition: width var(--main-transition-duration) ease;
  color: var(--white);
  height: 35px;
  border-color: transparent;
  font-size: 1.05rem;
  padding-right: 45px;
  &:active,
  &:focus {
    color: var(--white);
    width: 300px;
    background-color: var(--main-dark-12-color);
    border-color: transparent;
  }
  &::placeholder {
    color: lighten(#343a40, 10%);
  }
}

.settings-canvas {
  background-color: var(--main-dark-color);

  .nav-link {
    color: white;
    transition: all var(--main-transition-duration);
    &.active {
      color: var(--main-color);
    }
  }

  .nav-default {
    width: 45px;
  }
  .offcanvas-body {
    padding-top: 0;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    .top.separator {
      margin-top: 0;
    }
    &.advanced {
      .top.separator {
        margin-bottom: 0;
      }
      .bottom.separator {
        margin-top: 0;
      }
    }
  }
  .btn-primary {
    margin-left: 0.5rem;
  }
  hr {
    color: var(--main-gray);
  }
  .settings-content {
    flex-grow: 1;
  }

  .default.offcanvas-body {
    .list-builder {
      margin-bottom: var(--main-margin-width);
      .label {
        color: var(--white);
      }
      .list {
        display: flex;
        margin: 0.3rem 0;
        flex-direction: row;
        flex-wrap: wrap;
      }
      .list-entry {
        //background-color: var(--main-gray);
        color: var(--white-hover);
        border: 1px solid var(--main-gray-hover);
        margin: 0.2rem;
        border-radius: 8px;
        font-size: 12px;
        //font-weight: 500;
        padding: 0.1rem 0.3rem;
        .btn-close {
          transition-duration: all var(--main-transition-duration);
          padding-right: 0;
          padding-left: 5px;
        }
      }
      .submitter {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: auto;
        .form-control {
          flex-grow: 1;
          width: fit-content;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
        .btn {
          flex-grow: 0;
          width: fit-content;
          margin-left: 0;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
    }
  }
}

// Code mirror
.cm-content {
  white-space: pre-wrap !important;
  word-break: normal !important;
  word-wrap: break-word !important;
  max-width: calc(100% - 2rem) !important;
}
.cm {
  ::-webkit-scrollbar {
    height: 6px;
    width: 6px;
    background: #000;
  }

  ::-webkit-scrollbar-thumb {
    background: gray;
    -webkit-border-radius: 1ex;
    // -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
  }

  ::-webkit-scrollbar-corner {
    background: #000;
  }
}
